WSI08I_1022/cats.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cats">
		<xs:complexType>
			<xs:sequence>
				<xs:element name ="cat" minOccurs="1" maxOccurs="unbounded" type="kat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="kat">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="age" type="xs:integer"/>
			<xs:element name="breed" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer"/>
	</xs:complexType>
</xs:schema>